﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="content" ng-controller="dashboardCtrl">

	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
			
		</div>
	</div>
	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">
			<article class="col-sm-12">
				<!-- new widget -->
				<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

					-->

					<!-- widget div-->

					<!-- end widget div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

		<!-- end row -->
		<!-- row -->

		<div class="row">

			<div ng-controller="employeesCtrl">
				<div ng-show="employeeAdminVisible">
					<h1>EmployeeAdmin</h1>
				</div>

				<div ng-show="employeeReportsVisible">
					<h1>EmployeeReports</h1>
				</div>
			</div>

			<div ng-view></div>
			

			@*@Html.Partial("_EventsWidget")

			@Html.Partial("_ToDoWidget")*@
			
		</div>

		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>

@section scripts {
	
}