﻿<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Security </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<fieldset>
						<section>
							<label class="label">Name</label>
							<label class="input">
								<input type="text" readonly value="{{ employee.Person.LastName }}, {{ employee.Person.FirstName }}">
							</label>
						</section>

						<section>
							<label class="label">Date of Birth</label>
							<label class="input">
								<input type="text" readonly value="{{ employee.Person.DateOfBirth | date:'yyyy-MM-dd' }}">
							</label>
						</section>

						<section>
							<label class="label">Username</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="currentUser.Username" value="{{ currentUser.Username }}">
							</label>
						</section>

						<section>
							<label class="label">New Username</label>
							<label class="input">
								<input type="text" maxlength="50" ng-model="currentUser.NewUsername">
							</label>
						</section>

						<section>
							<label class="label">Password</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="currentUser.Password" value="{{ currentUser.Password }}">
							</label>
						</section>

						<section>
							<label class="label">New Password</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="currentUser.NewPassword">
							</label>
						</section>


					</fieldset>

					<footer>
						<a href="#employees" class="btn btn-primary">Cancel</a>
						<a href="#employees" class="btn btn-default" ng-click="saveSecurity(currentUser)">Save</a>
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->