﻿<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Shift </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<!--<header>
						Standard Form Header
					</header>-->

					<fieldset>
						<section>
							<label class="label">Date</label>
							<label class="input">
								<input class="datepicker hasDatepicker"
									   ng-model="shift.Date"
									   type="text"
									   data-date-format="yyyy-MM-dd"
									   data-date-type="date" data-autoclose="1" name="date2" bs-datepicker type="text">
							</label>
						</section>

						<section>
							<label class="label">Season</label>
							<label class="select">
								<select required="required" data-ng-model="shift.SeasonId" data-ng-options="e.Id as e.Description for e in seasons"></select>
							</label>
						</section>

						<section>
							<label class="label">Type</label>
							<label class="select">
								<select required="required" data-ng-model="shift.TypeId" data-ng-options="e.Id as e.Description for e in types"></select>
							</label>
						</section>

						<section>
							<label class="label">Times</label>
							<label class="select">
								<select required="required" data-ng-model="shift.TimeId" data-ng-options="e.Id as e.Description for e in times"></select>
							</label>
						</section>

						<section>
							<label class="label">Priority</label>
							<label class="select">
								<select required="required" data-ng-model="shift.PriorityId" data-ng-options="e.Id as e.Description for e in priorities"></select>
							</label>
						</section>
					
						<section>
							<label class="label">Can Edit</label>
							<input type="checkbox" ng-model="shift.CanUpdate" value="{{ shift.CanUpdate === 'true' ? true : false }}">
						</section>

						<section>
							<label class="label">Can Add</label>
							<input type="checkbox" ng-model="shift.CanAdd" value="{{ shift.CanAdd === 'true' ? true : false }}">
						</section>

						<section>
							<label class="label">Multiplier</label>
							<label class="number">
								<input type="number" required data-ng-model="shift.Multiplier" />
							</label>
						</section>

					</fieldset>

					<footer>
						<a href="#shifts" class="btn btn-primary">Cancel</a>
						<a href="#shifts" class="btn btn-default" ng-click="saveShift(shift)">Save</a>
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->