﻿<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Season </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<!--<header>
						Standard Form Header
					</header>-->

					<fieldset>

						<section>
							<label class="label">Name</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="season.Name" value="{{ season.Name }}">
							</label>
						</section>

						<section>
							<label class="label">Description</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="season.Description" value="{{ season.Description }}">
							</label>
						</section>

						<section>
							<label class="label">Start</label>
							<label class="input">
								<input type="text" class="hasDatepicker" ng-model="season.Start" value="{{ season.Start | date:'yyyy-MM-dd' }}">
							</label>
						</section>

						<section>
							<label class="label">End</label>
							<label class="input">
								<input type="text" class="hasDatepicker" ng-model="season.End" value="{{ season.End | date:'yyyy-MM-dd' }}">
							</label>
						</section>

						<section>
							<label class="label">Current</label>
							<input type="checkbox" ng-model="season.Current" value="{{ season.Current === 'true' ? true : false }}">
						</section>
					</fieldset>

					<footer>
						<a href="#seasons" class="btn btn-primary">Cancel</a>
						<a href="#seasons" class="btn btn-default" ng-click="saveSeason(season)">Save</a>
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->