﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>{{ adminHeaderText }}</h1>
		<p class="lead">Welcome to the Ski School Schedule Manager! Please select from the menu or a link below to manage data.</p>
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><a href="#schedulequotos">Quotas</a></li>
				<li class="list-group-item"><a href="#scheduleassigned">Assignments</a></li>
				<li class="list-group-item"><a href="#seasons">Seasons</a></li>
				<li class="list-group-item"><a href="#schedulepriorities">Priorities</a></li>
				<li class="list-group-item"><a href="#scheduletypes">Types</a></li>
				<li class="list-group-item"><a href="#scheduletimes">Times</a></li>
				<li class="list-group-item"><a href="#schedulereports">Reports</a></li>
			</ul>
		</div>
	</div>
</div>