﻿<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Shift </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<!--<header>
						Standard Form Header
					</header>-->

					<fieldset>
						<section>
							<label class="label">Date</label>
							<label class="input">
								<input type="text" readonly value="{{ shift.Date | date: 'yyyy-MM-dd' }}">
							</label>
						</section>

						<section>
							<label class="label">Season</label>
							<label class="input">
								<input required="required" readonly data-ng-model="season.Description" />
							</label>
						</section>

						<section>
							<label class="label">Type</label>
							<label class="input">
								<input required="required" readonly data-ng-model="type.Description" />
							</label>
						</section>

						<section>
							<label class="label">Start</label>
							<label class="input">
								<input type="text" readonly value="{{ shift.Start | date: 'hh:mm' }}">
							</label>
						</section>

						<section>
							<label class="label">End</label>
							<label class="input">
								<input type="text" readonly value="{{ shift.End | date: 'hh:mm' }}">
							</label>
						</section>

						<section>
							<label class="label">Priority</label>
							<label class="input">
								<input required="required" readonly data-ng-model="priority.Description" />
							</label>
						</section>
					
						<section>
							<label class="label">Can Edit</label>
							<input type="checkbox" readonly ng-model="shift.CanUpdate" value="{{ shift.CanUpdate === 'true' ? true : false }}">
						</section>

						<section>
							<label class="label">Can Add</label>
							<input type="checkbox" readonly ng-model="shift.CanAdd" value="{{ shift.CanAdd === 'true' ? true : false }}">
						</section>

					</fieldset>

					<footer>
						<a href="#shifts" class="btn btn-primary">Cancel</a>
						<a href="#shifts" class="btn btn-default" ng-click="deleteShift(shift)">Delete</a>
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->