﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Schedule Quoto's</h1>
		<p class="lead">Manage schedule quota's with the tools below.</p>
		<div class="col-md-4">
			
		</div>
	</div>
</div>
