﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Schedule Priorities <span class="badge">{{ priorityCount }}</span></h1>
		<p class="lead">Manage schedule priorities with the tools below. Click here to add a new priority. <a href="#addpriority" class="btn btn-default"><span>New Priority</span></a></p>

		<!-- widget grid -->
		<section id="widget-grid" class="">

			<!-- row -->
			<div class="row">

				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

						<header>
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<!--<h2>Standard Data Tables </h2>-->

						</header>

						<!-- widget div-->
						<div>
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->

							</div>


							<!-- end widget edit box -->
							<!-- widget content -->
							<div class="widget-body no-padding">

								<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
									<thead>
										<tr>
											<th>Action</th>
											<th data-hide="phone">Name</th>
											<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Description</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="priority in priorities | orderBy:'Id'">
											<td width="70px">
												<a href="#editpriority?id={{ priority.Id }}" class='btn btn-xs btn-default' data-original-title='Edit Row'><i class='fa fa-pencil'></i></a>
												<a href="#deletepriority?id={{ priority.Id }}" class='btn btn-xs btn-default' data-original-title='Delete Row'><i class='fa fa-times'></i></a>
											</td>
											<td>{{ priority.Name }}</td>
											<td>{{ priority.Description }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- end widget content -->

						</div>
						<!-- end widget div -->

					</div>
					<!-- end widget -->
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

					</div>
					<!-- end widget -->

				</article>
				<!-- WIDGET END -->

			</div>

			<!-- end row -->
			<!-- end row -->

		</section>
		<!-- end widget grid -->


	</div>
</div>

