﻿				<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<!--<h2>Standard Data Tables </h2>-->

		</header>

		<!-- widget div-->
		<div>
			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>



			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
					<thead>
						<tr>
							<th>Action</th>
							<th>Date</th>
							<th>Start</th>
							<th>End</th>
							<th>Priority</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="shift in shifts | orderBy:'Date'">
							<td width="70px">
								<a href="#editshift?id={{ shift.Id }}" class='btn btn-xs btn-default' data-original-title='Edit Row'><i class='fa fa-pencil'></i></a>
								<a href="#deleteshift?id={{ shift.Id }}" class='btn btn-xs btn-default' data-original-title='Delete Row'><i class='fa fa-times'></i></a>
							</td>
							<td>{{ shift.Date | date:'yyyy-MM-dd' }}</td>
							<td>{{ shift.Start | date:'mediumTime' }}</td>
							<td>{{ shift.End | date:'mediumTime' }}</td>
							<td>{{ shift.Priority.Description }}</td>
							<td>{{ shift.ShiftType.Description }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->
	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

	</div>
	<!-- end widget -->

</article>
<!-- WIDGET END -->