﻿<div class="col-md-offset-1">

	<div class="col-sm-12 col-md-12 col-lg-9" ng-show="showHeader">
		<h1>Shifts</h1>
		<p class="lead">Manage schedule shifts's with the tools below. Click here to add a new shift. <button class="btn btn-default" ng-click="toggleShowAddShift()"><span>New Shift</span></button></p>
	</div>

	<div class="col-sm-12 col-md-12 col-lg-9" ng-show="showEditShift">

		<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
			<h1>Edit Shifts <button class="btn btn-primary" ng-click="toggleShowEditShift()">Hide</button></h1>
			<br />
			<div class="widget-body">

				<table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="80%">
					<thead>
						<tr>
							<th>Action</th>
							<th>Date</th>
							<th>Start</th>
							<th>End</th>
							<th>Priority</th>
							<th>Type</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="currentShift in currentShifts | orderBy:'Date'">
							<td width="70px">
								<a href="" ng-click="deleteShifts(currentShift.Date, currentShift.SeasonId, currentShift.TypeId)" class='btn btn-xs btn-default'><i class='fa fa-times'></i></a>
								<!--<a href="#editshift?id={{ shift.Id }}" class='btn btn-xs btn-default' data-original-title='Edit Row'><i class='fa fa-pencil'></i></a>
								<a href="#deleteshift?id={{ shift.Id }}" class='btn btn-xs btn-default' data-original-title='Delete Row'><i class='fa fa-times'></i></a>-->
							</td>
							<td>{{ currentShift.Date | date:'yyyy-MM-dd' }}</td>
							<td>{{ currentShift.Start | date:'mediumTime' }}</td>
							<td>{{ currentShift.End | date:'mediumTime' }}</td>
							<td>{{ currentShift.PriorityDescription }}</td>
							<td>{{ currentShift.TypeDescription }}</td>
							<td>{{ currentShift.Total }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

<div class="col-sm-12 col-md-12 col-lg-9" ng-show="showAddShift">
	<!--<article class="col-sm-12 col-md-12 col-lg-12">-->

		<!-- Widget ID (each widget will need unique ID)-->
		<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>New Shift </h2>

			</header>

			<div>

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
				</div>
				<!-- end widget edit box -->
				<!-- widget content -->
				<div class="widget-body no-padding">

					<form class="smart-form">
						<fieldset>

							<div class="row">
								<section class="col col-6">
									<label class="input">
										<label class="input">
											<input class="datepicker hasDatepicker"
													ng-model="shift.Date"
													type="text"
													data-date-format="yyyy-MM-dd"
													data-date-type="date" data-autoclose="1" name="date2" bs-datepicker type="text" placeholder="Date">
										</label>
									</label>
								</section>
								<section class="col col-6">
									<label class="input">
										<label class="select">
											<select required="required" data-ng-model="shift.TypeId" data-ng-options="e.Id as e.Description for e in types"></select>
										</label>
									</label>
								</section>
							</div>

							<div class="row">
								<section class="col col-6">
									<label class="input">
										<label class="select">
											<select required="required" data-ng-model="shift.SeasonId" data-ng-options="e.Id as e.Description for e in seasons"></select>
										</label>
									</label>
								</section>
								<section class="col col-6">
									<label class="select">
										<select required="required" data-ng-model="shift.TimeId" data-ng-options="e.Id as e.Description for e in times"></select>
									</label>
								</section>
							</div>

							<div class="row">
								<section class="col col-6">
									<label class="input">
										<label class="select">
											<select required="required" data-ng-model="shift.PriorityId" data-ng-options="e.Id as e.Description for e in priorities"></select>
										</label>
									</label>
								</section>
								<section class="col col-6">
									<label class="input">
										<input type="number" required data-ng-model="shift.Multiplier" placeholder="Multiplier" />
									</label>
								</section>
							</div>


							<div class="row">
								<section class="col col-6">
									<label class="input">
										<!--<label class="label">Can Edit</label>-->
										Can Update <input type="checkbox" ng-model="shift.CanUpdate" value="{{ shift.CanUpdate === 'true' ? true : false }}">
									</label>
								</section>
								<section class="col col-6">
									<label class="input">
										<!--<label class="label">Can Edit</label>-->
										Can Add <input type="checkbox" ng-model="shift.CanAdd" value="{{ shift.CanAdd === 'true' ? true : false }}">
									</label>
								</section>
							</div>

						</fieldset>

						<footer>
							<button class="btn btn-primary" ng-click="toggleShowAddShift()">Hide</button>
							<button class="btn btn-default" ng-click="saveShift(shift)">Save</button>
						</footer>
					</form>

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>
		<!-- end widget -->

	<!--</article>-->

</div>

<br />
<div class="col-sm-12 col-md-12 col-lg-9">

	<div id="calendar"></div>
</div>
<!-- end widget -->
</div>





