﻿<!DOCTYPE html>
<html lang="en-us" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Resort Manager</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
	<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Theme/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Theme/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
	<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Theme/css/smartadmin-production.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Theme/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
         This RTL CSS will be released in version 1.5
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->
    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
	<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Theme/css/demo.min.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/Content/Theme/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Theme/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/Content/Theme/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Theme/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Theme/img/splash/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="~/Content/Theme/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="~/Content/Theme/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="~/Content/Theme/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="~/Content/Theme/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

	@*<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>*@
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.print.css" />
	
	<link href="~/Content/Site.css" rel="stylesheet" />

	
	<script src="~/app/mainApp.js"></script>
	<script src="~/app/employees/services/employeesSvc.js"></script>
	<script src="~/app/dashboard/controllers/dashboardCtrl.js"></script>
	<script src="~/app/skischool/controllers/skischoolCtrl.js"></script>
	<script src="~/app/employees/controllers/employeesCtrl.js"></script>
	<script src="~/app/employees/controllers/editEmployeeCtrl.js"></script>
	<script src="~/app/schedules/controllers/schedulesCtrl.js"></script>
	<script src="~/app/leftpanel/controllers/leftpanelCtrl.js"></script>
	<script src="~/app/dashboard/controllers/dashboardCtrl.js"></script>
	<script src="~/app/employees/controllers/addEmployeeCtrl.js"></script>
	<script src="~/app/employees/controllers/deleteEmployeeCtrl.js"></script>
	<script src="~/app/schedules/controllers/addSeasonCtrl.js"></script>
	<script src="~/app/schedules/controllers/editSeasonCtrl.js"></script>
	<script src="~/app/schedules/controllers/shiftCtrl.js"></script>
	<script src="~/app/schedules/controllers/addShiftCtrl.js"></script>
	<script src="~/app/schedules/controllers/deleteShiftCtrl.js"></script>

	<script src="~/app/security/config/routes.js"></script>
	<script src="~/app/security/controllers/securityCtrl.js"></script>
	<script src="~/app/security/controllers/addSecurityCtrl.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="~/app/employees/config/routes.js"></script>
	<script src="~/app/schedules/config/routes.js"></script>
	<script src="~/app/common/utility.js"></script>


	<script>
		@if (@HttpContext.Current.Session["__ClientToken"] == null)
		{
			Response.Redirect("~/Account/Login");
		}

		var clientToken = '@HttpContext.Current.Session["__ClientToken"]';

	</script>


</head>
<body class="">
	<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
	<!-- HEADER -->
	@Html.Partial("_Header")
	<!-- END HEADER -->
	<!-- Left panel : Navigation area -->
	<!-- Note: This width of the aside area can be adjusted through LESS variables -->
	@Html.Partial("_LeftPanel")
	<!-- END NAVIGATION -->
	<!-- MAIN PANEL -->
	<div id="main" role="main">

		<!-- RIBBON -->
		<div id="ribbon">

			<span class="ribbon-button-alignment">
				<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
			</span>

			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>Home</li>
				<li>Dashboard</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- You can also add more buttons to the
			ribbon for further usability

			Example below:

			<span class="ribbon-button-alignment pull-right">
			<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
			<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
			<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
			</span> -->

		</div>
		<!-- END RIBBON -->
		<!-- MAIN CONTENT -->

		@RenderBody()

		<!-- END MAIN CONTENT -->

	</div>
	<!-- END MAIN PANEL -->
	<!-- PAGE FOOTER -->
	@Html.Partial("_PageFooter")
	<!-- END PAGE FOOTER -->
	<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
	Note: These tiles are completely responsive,
	you can add as many as you like
	-->
	@Html.Partial("_Shortcuts")
	<!-- END SHORTCUT AREA -->
	<!--================================================== -->
	@RenderSection("scripts", required: false)

	@Html.Partial("_LayoutScripts")
	
	<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!

	$(document).ready(function () {

		pageSetUp();


		"use strict";

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		var hdr = {
			left: 'title',
			center: 'month,agendaWeek,agendaDay',
			right: 'prev,today,next'
		};

		var initDrag = function (e) {
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end

			var eventObject = {
				title: $.trim(e.children().text()), // use the element's text as the event title
				description: $.trim(e.children('span').attr('data-description')),
				icon: $.trim(e.children('span').attr('data-icon')),
				className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
			};
			// store the Event Object in the DOM element so we can get to it later
			e.data('eventObject', eventObject);

			// make the event draggable using jQuery UI
			e.draggable({
				zIndex: 999,
				revert: true, // will cause the event to go back to its
				revertDuration: 0 //  original position after the drag
			});
		};

		var addEvent = function (title, priority, description, icon) {
			title = title.length === 0 ? "Untitled Event" : title;
			description = description.length === 0 ? "No Description" : description;
			icon = icon.length === 0 ? " " : icon;
			priority = priority.length === 0 ? "label label-default" : priority;

			var html = $('<li><span class="' + priority + '" data-description="' + description + '" data-icon="' +
				icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();

			$("#event-container").effect("highlight", 800);

			initDrag(html);
		};

		/* initialize the external events
		 -----------------------------------------------------------------*/

		$('#external-events > li').each(function () {
			initDrag($(this));
		});

		$('#add-event').click(function () {
			var title = $('#title').val(),
				priority = $('input:radio[name=priority]:checked').val(),
				description = $('#description').val(),
				icon = $('input:radio[name=iconselect]:checked').val();

			addEvent(title, priority, description, icon);
		});

		/* initialize the calendar
		 -----------------------------------------------------------------*/

		$('#calendar').fullCalendar({

			header: hdr,
			buttonText: {
				prev: '<i class="fa fa-chevron-left"></i>',
				next: '<i class="fa fa-chevron-right"></i>'
			},

			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!

			drop: function (date, allDay) { // this function is called when something is dropped

				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');

				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);

				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;

				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}

			},

			select: function (start, end, allDay) {
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent', {
						title: title,
						start: start,
						end: end,
						allDay: allDay
					}, true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},

			events: [{
				title: 'All Day Event',
				start: new Date(y, m, 1),
				description: 'long description',
				className: ["event", "bg-color-greenLight"],
				icon: 'fa-check'
			}, {
				title: 'Long Event',
				start: new Date(y, m, d - 5),
				end: new Date(y, m, d - 2),
				className: ["event", "bg-color-red"],
				icon: 'fa-lock'
			}, {
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d - 3, 16, 0),
				allDay: false,
				className: ["event", "bg-color-blue"],
				icon: 'fa-clock-o'
			}, {
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d + 4, 16, 0),
				allDay: false,
				className: ["event", "bg-color-blue"],
				icon: 'fa-clock-o'
			}, {
				title: 'Meeting',
				start: new Date(y, m, d, 10, 30),
				allDay: false,
				className: ["event", "bg-color-darken"]
			}, {
				title: 'Lunch',
				start: new Date(y, m, d, 12, 0),
				end: new Date(y, m, d, 14, 0),
				allDay: false,
				className: ["event", "bg-color-darken"]
			}, {
				title: 'Birthday Party',
				start: new Date(y, m, d + 1, 19, 0),
				end: new Date(y, m, d + 1, 22, 30),
				allDay: false,
				className: ["event", "bg-color-darken"]
			}, {
				title: 'Smartadmin Open Day',
				start: new Date(y, m, 28),
				end: new Date(y, m, 29),
				className: ["event", "bg-color-darken"]
			}],

			eventRender: function (event, element, icon) {
				if (!event.description == "") {
					element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
						"</span>");
				}
				if (!event.icon == "") {
					element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
						" '></i>");
				}
			},

			windowResize: function (event, ui) {
				$('#calendar').fullCalendar('render');
			}
		});

		/* hide default buttons */
		$('.fc-header-right, .fc-header-center').hide();


		$('#calendar-buttons #btn-prev').click(function () {
			$('.fc-button-prev').click();
			return false;
		});

		$('#calendar-buttons #btn-next').click(function () {
			$('.fc-button-next').click();
			return false;
		});

		$('#calendar-buttons #btn-today').click(function () {
			$('.fc-button-today').click();
			return false;
		});

		$('#mt').click(function () {
			$('#calendar').fullCalendar('changeView', 'month');
		});

		$('#ag').click(function () {
			$('#calendar').fullCalendar('changeView', 'agendaWeek');
		});

		$('#td').click(function () {
			$('#calendar').fullCalendar('changeView', 'agendaDay');
		});

	})

	</script>

	</body>
	</html>
