﻿<aside id="left-panel" ng-controller="leftpanelCtrl">

	<!-- User info -->
	<div class="login-info">
		<span>
			<!-- User image size is adjusted inside CSS, it should stay as it -->

			<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
				@*<img src="~/Content/Theme/img/avatars/sunny.png" alt="me" class="online" />*@
				<span>
					@User.Identity.Name
				</span>
				<i class="fa fa-angle-down"></i>
			</a>

		</span>
	</div>
	<!-- end user info -->
	<!-- NAVIGATION : This navigation is also responsive

	To make this navigation dynamic please make sure to link the node
	(the reference to the nav > ul) after page load. Or the navigation
	will not initialize.
	-->
	<nav>
		<!-- NOTE: Notice the gaps after each icon usage <i></i>..
		Please note that these links work a bit different than
		traditional href="" links. See documentation for details.
		-->

		<ul>

			<li class="active">
				<a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
			</li>
			<li>
				<a href="#skischool">Ski School</a>
				<ul>
					<li>
						<a href="#"><i class="fa fa-fw fa-folder-open"></i>Employees</a>
						<ul>
							<li>
								<a href="#employeeadmin"><i class="fa fa-fw fa-file-text"></i>Admin</a>
							</li>
							<li>
								<a href="#employeereports"><i class="fa fa-fw fa-file-text"></i>Reports</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-fw fa-folder-open"></i>Schedules</a>
						<ul>
							<li>
								<a href="#scheduleadmin"><i class="fa fa-fw fa-file-text"></i>Admin</a>
							</li>
							<li>
								<a href="#shifts"><i class="fa fa-fw fa-file-text"></i>Shifts</a>
							</li>
							<li>
								<a href="#seasons"><i class="fa fa-fw fa-file-text"></i>Seasons</a>
							</li>
							<li>
								<a href="#scheduletypes"><i class="fa fa-fw fa-file-text"></i>Types</a>
							</li>
							<li>
								<a href="#scheduletimes"><i class="fa fa-fw fa-file-text"></i>Times</a>
							</li>
							<li>
								<a href="#schedulepriorities"><i class="fa fa-fw fa-file-text"></i>Priorities</a>
							</li>
							
							<li>
								<a href="#schedulereports"><i class="fa fa-fw fa-file-text"></i>Reports</a>
							</li>
						</ul>

					</li>
				</ul>
			</li>
		</ul>

	</nav>
	<span class="minifyme" data-action="minifyMenu">
		<i class="fa fa-arrow-circle-left hit"></i>
	</span>

</aside>


