﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Ski School Manager</h1>
		<p class="lead">Welcome to the Ski School Manager! Please select from the menu or a link below to manage data.</p>
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><a href="#employeeadmin">Employees</a></li>
				<li class="list-group-item"><a href="#employeeschedules">Employee Schedules</a></li>
				<li class="list-group-item"><a href="#employeesecurity">Security</a></li>
			</ul>
		</div>
	</div>
</div>