﻿
<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Employee </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<!--<header>
						Standard Form Header
					</header>-->

					<fieldset>

						<input type="hidden" ng-model="employee.ClientId" />
						<input type="hidden" ng-model="employee.Id" />
						<input type="hidden" ng-model="employee.LoginId" />
						<input type="hidden" ng-model="employee.PersonId" />

						<section>
							<label class="label">First Name</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="employee.Person.FirstName" value="{{ employee.Person.FirstName }}">
							</label>
						</section>

						<section>
							<label class="label">Last Name</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="employee.Person.LastName" value="{{ employee.Person.LastName }}">
							</label>
						</section>

						<section>
							<label class="label">Middle Name</label>
							<label class="input">
								<input type="text" maxlength="30" ng-model="employee.Person.MiddleName" value="{{ employee.Person.MiddleName }}">
							</label>
						</section>

						<section>
							<label class="label">Roster ID</label>
							<label class="input">
								<input type="text" maxlength="10" ng-model="employee.RosterId" value="{{ employee.RosterId }}">
							</label>
						</section>

						<section>
							<label class="label">Current</label>
							<!--<label class="checkbox">-->
							<input type="checkbox" ng-model="employee.Current" value="{{ employee.Current === 'true' ? true : false }}">
							<!--</label>-->
						</section>

						<section>
							<label class="label">Gender</label>
							<label class="select">
								<select required="required" data-ng-model="employee.Person.GenderId" data-ng-options="g.Id as g.Name for g in genders"></select>
							</label>
						</section>

						<section>
							<label class="label">Date of Birth</label>
							<label class="input">
								<input class="datepicker hasDatepicker"
									   ng-model="employee.Person.DateOfBirth"
									   type="text"
									   data-date-format="yyyy-MM-dd"
									   data-date-type="date" data-autoclose="1" name="date2" bs-datepicker type="text">
							</label>
						</section>

						<section>
							<label class="label">IsLocal</label>
							<!--<label class="input">-->
							<input type="checkbox" ng-model="employee.IsLocal" value="{{ employee.IsLocal === 'true' ? true : false }}">
							<!--</label>-->
						</section>

						<section>
							<label class="label">Type</label>
							<label class="select">
								<select required="required" data-ng-model="employee.EmployeeTypeId" data-ng-options="e.Id as e.Description for e in employeeTypes"></select>
							</label>
						</section>

						<section>
							<label class="label">Title</label>
							<label class="select">
								<select required="required" data-ng-model="employee.TitleId" data-ng-options="e.Id as e.Description for e in employeeTitles"></select>
							</label>
						</section>


					</fieldset>

					<footer>
						<a href="#employees" class="btn btn-primary">Cancel</a>
						<a href="#employees" class="btn btn-default" ng-click="saveEmployee(employee)">Save</a>

						<!--<button type="submit" class="btn btn-primary">
							Submit
						</button>
						<button type="button" class="btn btn-default" onclick="window.history.back();">
							Back
						</button>-->
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->