﻿<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Delete Employee? </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body no-padding">

				<form class="smart-form">
					<!--<header>
						Standard Form Header
					</header>-->

					<fieldset>

						<input type="hidden" ng-model="employee.ClientId" />
						<input type="hidden" ng-model="employee.Id" />
						<input type="hidden" ng-model="employee.LoginId" />
						<input type="hidden" ng-model="employee.PersonId" />

						<section>
							<label class="label">First Name</label>
							<label class="input">
								<input type="text" readonly maxlength="30" ng-model="employee.Person.FirstName" value="{{ employee.Person.FirstName }}">
							</label>
						</section>

						<section>
							<label class="label">Last Name</label>
							<label class="input">
								<input type="text" readonly maxlength="30" ng-model="employee.Person.LastName" value="{{ employee.Person.LastName }}">
							</label>
						</section>

						<section>
							<label class="label">Middle Name</label>
							<label class="input">
								<input type="text" readonly maxlength="30" ng-model="employee.Person.MiddleName" value="{{ employee.Person.MiddleName }}">
							</label>
						</section>

						<section>
							<label class="label">Roster ID</label>
							<label class="input">
								<input type="text" readonly maxlength="10" ng-model="employee.RosterId" value="{{ employee.RosterId }}">
							</label>
						</section>

					</fieldset>

					<footer>
						<a href="#employees" class="btn btn-primary">Cancel</a>
						<a href="#employees" class="btn btn-default" ng-click="deleteEmployee(employee)">Delete</a>
					</footer>
				</form>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- END COL -->