﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Employee Schedules</h1>
		<p class="lead">Welcome to the Ski School Report Manager! Please select a report from the list below.</p>
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><a href="">Report #1</a></li>
				<li class="list-group-item"><a href="">Report #2</a></li>
				<li class="list-group-item"><a href="">Report #3</a></li>
			</ul>
		</div>
	</div>
</div>