﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Employee's <span class="badge">{{ employeeCount }}</span></h1>
		<p class="lead">Manage employee's with the tools below. Click here to add a new employee. <a href="#addemployee" class="btn btn-default"><span>New Employee</span></a></p>
		
		<!-- widget grid -->
		<section id="widget-grid" class="">

			<!-- row -->
			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-9" ng-show="showPasswordUpdate">
					<!--<article class="col-sm-12 col-md-12 col-lg-12">-->
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

						<header>
							<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
							<h2>Password Mass Update</h2>

						</header>

						<div>

							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
							</div>
							<!-- end widget edit box -->
							<!-- widget content -->
							<div class="widget-body no-padding">

								<form class="smart-form">
									<fieldset>

										<div class="row">
											<section class="col col-6">
												<label class="input">
													<input type="text" data-ng-model="password" placeholder="Password for all active employees" />
												</label>
											</section>
										</div>

									</fieldset>

									<footer>
										<button class="btn btn-primary" ng-click="togglePasswordUpdate()">Hide</button>
										<button class="btn btn-default" ng-click="updatePassword()">Save</button>
									</footer>
								</form>

							</div>
							<!-- end widget content -->

						</div>
						<!-- end widget div -->

					</div>
					<!-- end widget -->
					<!--</article>-->

				</div>



				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

						<header>
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<!--<h2>Standard Data Tables </h2>-->

						</header>

						<!-- widget div-->
						<div>
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
								
							</div>
							

							<!-- end widget edit box -->
							<!-- widget content -->
							<div class="widget-body no-padding">
								
								<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
									<thead>
										<tr>
											<th>Action</th>
											<th data-hide="phone">ID</th>
											<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Name</th>
											
											<th>Gender</th>
											<th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> DOB</th>
											<th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Title</th>
											<th data-hide="phone,tablet">Type</th>
											<th data-hide="phone"><i class="fa fa-fw text-muted hidden-md hidden-sm hidden-xs"></i>IsLocal</th>
											<th><button ng-click="togglePasswordUpdate()">Login</button></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="employee in employees | orderBy:'Person.LastName'">
											<td width="70px">
												<a href="#editemployee?id={{ employee.Id }}" class='btn btn-xs btn-default' data-original-title='Edit Row'><i class='fa fa-pencil'></i></a>
												<a href="#deleteemployee?id={{ employee.Id }}" class='btn btn-xs btn-default' data-original-title='Delete Row'><i class='fa fa-times'></i></a>
												<!--<button class='btn btn-xs btn-default' data-original-title='Save Row'><i class='fa fa-save'></i></button>-->
												<!--<button class='btn btn-xs btn-default' data-original-title='Cancel'><i class='fa fa-times'></i></button>-->
											</td>
											<td>{{ employee.RosterId }}</td>
											<td>{{ employee.Person.LastName }}, {{ employee.Person.FirstName }} {{ employee.Person.MiddleName }}</td>
											
											<td>{{ employee.Person.Gender.Name }}</td>
											<td>{{ employee.Person.DateOfBirth | date:'yyyy-MM-dd' }}</td>
											<td>{{ employee.EmployeeTitle.Description }}</td>
											<td>{{ employee.EmployeeType.Description }}</td>
											<td>{{ employee.IsLocal ? 'YES' : 'NO' }}</td>
											<td>
												<a ng-show="employee.User[0].Username.length == undefined" href="#addsecurity?employeeId={{ employee.Id }}">Add Login</a>
												<a ng-show="employee.User[0].Username.length > 0" href="#security?id={{ employee.LoginId }}&employeeId={{ employee.Id }}">{{ employee.User[0].Username }}</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- end widget content -->

						</div>
						<!-- end widget div -->

					</div>
					<!-- end widget -->
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

					</div>
					<!-- end widget -->

				</article>
				<!-- WIDGET END -->

			</div>

			<!-- end row -->
			<!-- end row -->

		</section>
		<!-- end widget grid -->


	</div>
</div>
