﻿<div class="col-md-offset-1">
	<div class="col-md-11">
		<h1>Welcome to Resort Manager</h1>
		<p class="lead">Please use the navigation on the left to manage your resort assets.</p>
		<!--<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><a href="#employees" ng-click="initialize">Employees</a></li>
				<li class="list-group-item"><a href="#employeeschedules">Schedules</a></li>
				<li class="list-group-item"><a href="#employeesecurity">Security</a></li>
				<li class="list-group-item"><a href="#employeereports">Reports</a></li>
			</ul>
		</div>-->
	</div>
</div>
